html body{
	font-family: 'Source Sans Pro', sans-serif;
}
body{
	font-size: 16px;
}
header *{
	color: #3e3e3e;
	font-size: 22px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}
.menuScreen{
	text-align: right;
	display: inline-block;
	width: calc(100% - 220px);
}
.TemporaryDrawer{
	height: 64px;
}
.bodyPage{
	min-height: 100vh;
}
/*Menu*/
	.listMenu{
		margin: 8px;
		padding: 8px 16px;
		transition: all .5s;
		position: relative;
		text-align: center;
		font-size: 1.5em;
	}
	.listMenu:after {
		position: absolute;
		content: "";
		height: 2px;
		width: 20%;
		background-color: #3e3e3e;
		bottom: 0px;
		left: calc(50% - 10%);
		transition: all .5s;
	}
	.listMenu:hover:after {
	    width: 100%;
	    left: 0;
	}
	@media (min-width: 500px){
		.listMenu{
			display: inline-block;
		}
	}
	.menuMovile a{
		font-size: 1em;
		color: #3e3e3e;
		text-decoration: none;
	}
	.logoScreen{
		display: inline-block;
	    border-radius: 18px;
	    margin: 5px;
	}
	.logoScreen img{
		max-width: 197px;
	    vertical-align: middle;
	}
	.logoMenu{
		width: 100%;
	}
	.logoMenu img{
		width: auto;
    	height: 51px;
    	margin-left: 5%;
	}
/*Menu*/

/*Footer*/
	.page-footer {
		padding-top: 20px;
		color: #fff;
		background-color: #ee6e73;
	}

	.page-footer .footer-copyright {
		overflow: hidden;
		min-height: 50px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 10px 0px;
		color: rgba(255, 255, 255, 0.8);
		background-color: rgba(51, 51, 51, 0.08);
	}
/*Footer*/

/* Slider Categories Index*/
	.contentSlidersCategories{
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-gap: 20px;
		color: #3e3e3e;
	}
	.contentSlidersCategories .title{
	    font-size: 2.5em;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
    .contentSlidersCategories .info{
	   	text-align: justify;
	}
	@media (min-width: 481px){
		.contentSlidersCategories{
			grid-template-columns: repeat(3, 33%);
		}
	}
	@media (min-width: 769px){
		.contentSlidersCategories{
			grid-template-columns: repeat(5, 18.7%);
		}
	}	
/* Slider Categories Index*/


.owl-carousel.height .item div{
	height: calc(100vh - 64px);
	width: 100%;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

@media( max-width: 500px){
	.TemporaryDrawer{
	    height: 55px;
	}
	.owl-carousel.height .item div{
		height: 35vh;
	}
	#categoriasMain{
		margin: 0 !important;
	}
}

.MuiGrid-spacing-xs-16-106 {
	margin: 0 !important;
    width: 100% !important;
}


#categoriasMain{
	margin: 100px 0;
}
.infoMainCategorie .title-min{
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
	color: #a93350;
}
.infoMainCategorie .text{
	text-align: justify;
	color: #4e4e4e;
}
.MuiGrid-grid-sm-2-141 {
	max-width: 19.66667% !important;
    flex-basis: 19.66667% !important;
}

.titleProducto{
	color: #a93350;
	text-transform: uppercase;
	font-size: 2em;
}
.producto img{
	width: 100%;
}

/*Expand Menu*/
	.container-collapse{
		border-bottom: solid gray 1px;
		margin-bottom: 7px;
	}
	.products-menu > div:last-child .container-collapse{
		border-bottom: none;
		margin: 0;
	}
	.expand-menu{
		width: 100%;;
	}
	.icon-menu {
		margin: 0px auto 0px auto;
		border-radius: 30px;
		width: 30px;
		height: calc(100% - 6px);
	}
	.icon-plus{
		width: 10px;
		height: 10px;
		position: absolute;
		right: 0;
		margin-top: 10px;
		margin-right: 0px;
	}
	.icon-plus .active-path{
		fill: white;
	}
	.icon {
		width: 100%;
	}
	.content-ProductsMenu{
		position: -webkit-sticky;
		position: sticky;
		top: 90px;
		border-radius: 10px;
		max-height: calc(100vh - 100px);
		overflow: auto;
	}
	.products-menu{
		display: inline-block;
		/*width: 200px;*/
		background-color: #9f9fa2;
		border-radius: 10px;
		padding: 3px;
		color: white;
	}
	.products-menu .products-menu{
		width: 100%;
	}
	.products-menu ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.title-menu{
		position: relative;
	}
	.pl-title-menu{
		padding-left: 5px;
	}
	.listProduct li{
		background-color: gray;
		border-radius: 5px;
		padding: 2px 10px;
		margin: 3px 0;
		transition: all .5s;
		cursor: pointer;
	}
	.listProduct li:hover{
		background-color: #5a5a5a;
	}
	.listProduct .checkbox{
		width: 20px;
		height: 20px;
		margin: 3px 10px 3px 0;
	}

	.icon-menu.sillas{
		background-color: #a81d50;
	}
	.chairSVG.sillas .circle{
		fill: #a81d50;
	}
	.chairSVG.sillas .sombra{
		fill: #a81d50;
	}
	.chairSVG.sillas .estructura{
		fill: white;
	}

	.icon-menu.design{
		background-color: #b5d8b1;
	}
	.chairSVG.design .circle{
		fill: #b5d8b1;
	}
	.chairSVG.design .sombra{
		fill: #b5d8b1;
	}
	.chairSVG.design .estructura{
		fill: white;
	}

	.icon-menu.inOut{
		background-color: #9ad6f0;
	}
	.chairSVG.inOut .circle{
		fill: #9ad6f0;
	}
	.chairSVG.inOut .sombra{
		fill: #9ad6f0;
	}
	.chairSVG.inOut .estructura{
		fill: white;
	}

	.icon-menu.community{
		background-color: #cfcdcc;
	}
	.chairSVG.community .circle{
		fill: #cfcdcc;
	}
	.chairSVG.community .sombra{
		fill: #cfcdcc;
	}
	.chairSVG.community .estructura{
		fill: white;
	}
	.menuMobileLine{
		position: fixed;
    z-index: 10;
    right: 0;
    background-color: #aa194f;
    color: white;
    padding: 13px;
		border-radius: 15px 0 0 15px;
		box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 
								0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
								0px 1px 10px 0px rgba(0, 0, 0, 0.12);
		cursor: pointer;
	}
	.menuMobileLinecontent > div:nth-child(2){
		background-color: #757575;
	}
	.menuMobileLinecontent .products-menu{
		border-radius: 0 !important;
	}
/*Expand Menu*/

/*Card Product*/
	@media (min-width: 480px) {
		.cardProduct{
			margin: 10px 10px;
		}
	}
	.cardProduct .img-product{
		height: 300px;
		background-color: gray;
	}
	.cardProduct .info-product .name{
		text-align: center;
		text-transform: uppercase;
		padding: 10px 0;
		font-size: 1.3em;
	}
/*Card Product*/

/* Global */
	.hide{
		display: none;
	}
	.cp {
		cursor: pointer
	}
	.dp-inline-block{
		display: inline-block;
	}
	.lh-1-9{
		line-height: 1.9;
	}
	.pt-1{
		padding-top: 1em;
	}
	.pl-1{
		padding-left: 1em;
	}
/* Global*/